*, *::before, *::after{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
}
body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #78787a, #292b2a);
}

.calculator-grid {

    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4,100px); 
    grid-template-rows: minmax(120px,auto) repeat(5,100px);
}

.calculator-grid > button {

    cursor:pointer;
    font-size : 2rem;
    border: 1px solid white;
    outline :none;
    background-color: rgba(255,255,255, .75);
}
.calculator-grid > button:hover{
    background-color: rgba(255,255,255, .9);

}
.span-two {
    grid-column: span 2;
}
.output {
    grid-column: 1 / -1;
    background-color: rgba(0, 0,0, .75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}
.output .previous-operand {
    color: white;
    font-size:  2.5rem;
}
.output .current-operand {
    color: white;
    font-size:  2.5rem;
}
.permit{
    left: 80px;
    top: 130px;
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
   

}
img {
     
     width: 400px;
     border-radius: 30px;
     opacity: 0;
     transition: 0.7s;
}
h2 {
    background-color: white;
    border: 2px solid white;
    position: relative;
    border-radius: 20px;
    padding: 10px;
    
}
h2:hover{
    background-color: rgb(20, 19, 19);
    border: 2px solid rgb(10, 10, 10);
    color: white;
    
}
 .permit:hover img{
    opacity: 1;
   
}